/* You can add global styles to this file, and also import other style files */
@use "./abstracts/media-query" as *;
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;1,6..96,400;1,6..96,500&family=Comfortaa:wght@300;400;500;600;700&family=Passions+Conflict&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200;300;400;500;600;700&family=Viaoda+Libre&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #000000;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.flex_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #414141;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #fff;
  gap: 8rem;
  position: sticky;
  top: 0;
  z-index: 20;
  background: #00000099;
  backdrop-filter: blur(6px);
}
.content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

  gap: 1rem;
}
@include small-screen {
  .header {
    gap: 0rem !important;
  }

  .content-box {
    grid-template-columns: 1fr !important;
  }
  .content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    gap: 1rem;
  }
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #fff;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  animation: instantRise 1000ms linear;
}
@keyframes instantRise {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}
.form {
  animation: leftEnter 1000ms linear;
  transition: 500ms;
}

.green-ish {
  /* animation: greenGlow 1000ms 1000ms linear; */
  transition: 300ms ease-in-out;
}
.goal {
  .goal-name {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .goal-text-desc {
    white-space: wrap;
    width: 100%;
    word-break: break-all;
  }
  .head-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-right: 3rem;

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      padding: 0.4rem 0.8rem;
      border: 1px solid #3a3a3a;
      border-radius: 0.4rem;
      box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
      cursor: pointer;
      .profile-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #ccc;
      }
    }
  }
}
// .goal .head-box .profile {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 0.4rem;
//   padding: 0.4rem 0.8rem;
//   border: 1px solid #e8e8e8;
//   border-radius: 0.4rem;
//   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
//   cursor: pointer;
// }
// .goal .head-box .profile .profile-img {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 2rem;
//   height: 2rem;
//   border-radius: 50%;
//   border: 1px solid #ccc;
//   background-color: #ccc;
// }

/*
@keyframes greenGlow {
  0% {
    scale: 1;

    transition: color 300ms ease-in-out;
  }
  50% {
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
  }
  100% {
    scale: 1;
  }
} */

@keyframes leftEnter {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

.heading p {
  color: #e0e0e0;
}

.goals {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.goal {
  background-color: #1a1a1a;
  margin: 10px 0;
  padding: 10px 0 10px;
  position: relative;
  padding: 1rem;
  border: 1px solid #363636;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  align-items: space-between;
  min-width: 10rem;
}

@media screen and (min-width) {
  .goal-box {
    grid-template-columns: 1fr;
  }
}
.goal .goal-date {
  font-size: 0.8rem;
}

.goal .goal-text {
  font-size: 1.2rem;
}

.btn-box {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 540px) {
  .btn-box {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
  }
}
.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 100%;
  /* margin: 0 auto; */
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #bfbfbf;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 200ms ease;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  letter-spacing: 1px;
}
.btn:active {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flex_col_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.flex_row_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.dev_border {
  border: 1px solid blue;
}
.comment-input {
  padding: 0.6rem 0.8rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  width: 80%;
}

.form-box {
  border: 1px solid #888;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;

  opacity: 0;
  transition: 100ms ease;
  /* border-radius: 8px; */
}

.comment-btn {
  padding: 0.6rem 0.4rem;
  outline: none;
  border: none;
  font-size: 0.9rem;

  width: 20%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 200ms ease;
}
.comment-btn:hover {
  background-color: #008cc4;
}
.comment-btn:active {
  scale: 0.98;
}
.line-through {
  width: 100%;
  height: 1px;
  background-color: #888;
  margin-top: 8px;
}
.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
}
.comment-block .comment-box {
  top: 0rem;
  right: 0;
  width: 100%;
  display: grid;
  width: 100%;
  height: 0;
  max-height: 0;
  transition: 300ms ease;
  overflow-y: auto;
  font-size: 0.8rem;
  border-right: 4px solid #ccc;
}
.comment-block .comment-box.active .form-box {
  /* display: block; */
  width: 100%;
  opacity: 1;
  transition: 800ms ease;
}
.comment-block .comment-box::-webkit-scrollbar {
  height: 2rem;
  width: 4px;
  /* display: none; */
}
.comment-block .comment-box.active {
  /* display: block; */
  height: 100%;
  max-height: 10rem;
  padding-bottom: 3rem;
}
.comment-block .comment-box .comment-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
}
.comment-block .comment-box .comment-lists .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.4rem;
}
.comment-block .comment-box .comment-lists .icon-box .icon {
  border-left: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.4rem;
  cursor: pointer;
  transition: 150ms ease;
}

.comment-block .comment-box .comment-lists .icon-box .icon:hover {
  color: #555555;
}

.gap_102 {
  gap: 0.8rem;
}
.comment-block .comment-icon-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 0.4rem;
}
.comment-icon-box .icon {
  justify-self: flex-end;
  font-size: 1.4rem;
  cursor: pointer;
}
.comment-icon-box .icon:hover {
  color: rgb(29, 255, 180);
}
@media (max-width: 600px) {
  /* .form {
		width: 90%;
	} */

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.comment-lists {
  //   padding: 0.1rem 0.2rem;
  //   display: grid;
  //   grid-template-columns: 4fr 1fr;
  //   justify-content: space-between;
  //   align-items: center;

  //   width: 100%;

  .comment-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.2rem;
    font-size: 0.9rem;
  }
  //   .icon {
  //     padding: 0.4rem 0.2rem;
  //     width: 2.2rem;
  //     height: 2.4rem;
  //     border: 1px solid #363636;
  //     height: 100%;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
  .edit {
    // background: rgb(29, 255, 180);
    background-color: #008cc4;
  }
  .delete {
    background: #ff4646;
  }
}

.comment-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
